.repl-output-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.repl-output-content {
  flex: 1;
  overflow: auto;
}

.repl-output-panel {
  height: 100%;
  overflow: hidden;
  display: none;
}

.repl-output-panel-active {
  display: block;
}
