.playground-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 20px;

  color: var(--repl-text-primary);
  background-color: var(--repl-bg-primary);
  border-bottom: 1px solid var(--repl-divider-color);
}

.playground-header .playground-header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playground-header .playground-header-logo {
  width: 25px;
  height: 25px;
}

.playground-header .playground-header-actions {
  display: flex;
  gap: 10px;
}
