.react-repl {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#gtx-trans,
grammarly-extension,
deepl-inline-translate,
grammarly-popups,
deepl-inline-popup,
grammarly-desktop-integration {
  display: none !important;
}

:root {
  /* Base Colors */
  --repl-primary-color: #1e9dbc;
  --repl-primary-hover: #58c4dc;

  /* UI Colors */
  --repl-divider-color: #e0e0e0;

  /* Text Colors */
  --repl-text-primary: #393a34;
  --repl-text-secondary: #858585;

  /* Background Colors */
  --repl-bg-primary: #fdfdfd;
  --repl-bg-secondary: #f5f5f5;
  --repl-bg-hover: rgba(0, 0, 0, 0.04);
}
